ul {
  margin: 0;
}

.footer {
  background-color: #181828;
  padding-top: 25px;
  padding-bottom: 25px;

  .container-xxl {
    .footer-content {

      .footer-rights {
        .footer-info {
          color: #99a9b5;
        }
      }

      .footer-nav {

        .footer-navigation {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .navigation-item {
            list-style: none;

            .footer-link {
              text-decoration: none;
              color: #ffffff;
            }

            .footer-link:hover {
              color: #99a9b5;
              transition: .3s;
            }
          }
        }
      }

      .footer-icons {
        .icons {
          .icon {
            list-style: none;

            .icon-link {

              .bi {
                color: white;
                font-size: 35px;
              }
            }

            .icon-link:hover {
              .bi {
                color: khaki;
              }
            }
          }
        }
      }
    }

  }

}