.main {
  .slider {
    .carousel.slide {
      .carousel-inner {
        .carousel-item {
          //min-width: 845px;
          width: 100%;
          height: 90vh;
          background-position: calc(80%) calc(60%);
          background-size: cover;
          background-repeat: no-repeat;
        }

        .carousel-item.baby {
          background-image: url("../../images/dest/slider/DANALAC-baby.jpg");
        }

        .carousel-item.baby-biscuits {
          background-image: url("../../images/dest/slider/Danalac-baby-biscuits-baby-food.jpg");
        }

        .carousel-item.baby-biscuits-food {
          background-image: url("../../images/dest/slider/DANALAC-baby-biscuits.jpg");
        }
      }
    }
  }

  .promo {

  }
}